.sub-menu {
  background-color: var(--color4);
  position: absolute;
  top: 30px;
  left: 300px;
  padding: 10px 20px;
  z-index: 10;
  border: none;
  border-radius: 5px;
}

.sub-menu ul li {
  list-style-type: none;
  font-size: 18px;
  font-weight: bold;
  color: var(--color2);
  padding: 5px 10px;
}