.footer-container {
  background-color: var(--color4);
  width: 100%;
  height: auto;
  display: flex;
  align-items: start;
  justify-content: space-around;
  padding: 40px 0;
}

.footer-menu {
  display: flex;
}

.footer-menu ul {
  margin: 10px 5px;
}

.footer-menu ul li {
  list-style-type: none;
  font-size: 14px;
  color: black;
  cursor: pointer;
  margin-bottom: 5px;
}

.footer-menu ul li:hover {
  color: var(--color1);
}

.socials {
  width: 30px;
}

.socials i {
  font-size: 25px;
  color: #fff;
  margin: 10px;
  cursor: pointer;
}

.socials i:hover {
  color: var(--color2);
}

h4 {
  color: #fff;
}

p {
  font-size: 12px;
}