.footer-container {
  background-color: var(--color4);
  width: 100%;
  height: auto;
  padding: 40px 0 10px 0;
}

.sub-foot-container-over {
  display: flex;
  align-items: initial;
  justify-content: space-around;
}

.footer-menu {
  display: flex;
}

.footer-menu ul {
  margin: 10px 5px;
}

.footer-menu ul li {
  list-style-type: none;
  font-size: 14px;
  color: black;
  cursor: pointer;
  margin-bottom: 5px;
}

.footer-menu ul li:hover {
  color: var(--color1);
}

.sub-foot-container-down {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  padding: 5px 0;
}

#pay-container {
  margin-left: 5%;
}

.socials button {
  background-color: #fff;
  border: none;
  cursor: pointer;
  margin: 0 5px;
}

.socials button:hover {
  transform: scale(1.2);
}

.socials button img {
  height: 30px;
}

#socials {
  margin-right: 5%;
}

h4 {
  color: #fff;
}

p {
  font-size: 12px;
}